{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 65
        },
        "modules": false
      }
    ],
    ["react"]
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": ["external-helpers", "transform-class-properties", "transform-object-rest-spread"]
}
