{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 61
        },
        "modules": false
      }
    ],
    ["react"]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": [["env"], "react"]
    }
  },
  "plugins": ["external-helpers"]
}
